/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, svg {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

* {
    margin: 0;
    padding: 0;
    border:0;
}


:root {
    --sidebar-bgcolor: #4ade80;
    --sidebar-bgcolor: #92c6fd;
    --sidebar-bgcolor: #1993d4;
    --sidebar-color: #f8fafc;
    --searchbar-color: #d1d5db;
    --project-card-color: #f0b429;
}

body {
    /* height: 100vh;
    width: 100%; */
    box-sizing: border-box;
}

.grid-container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(350px,1fr) 3fr;
    grid-template-rows: minmax(180px, 1fr) 3fr;
}

.header {
    grid-column: 2 / span 1;
    grid-row: 1 / 2;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: minmax(60%, 2fr) 1fr;
    grid-template-rows: 1fr 1fr;
}

.header-first {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.header-first-c2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3; 
}

.header-r2-c1 {
    grid-row: 2/3;
    grid-column: 1/2;
}


.header-r2-c2 {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;


}

.buttons-header {
    display: flex;
    /* align-items: center; */
    gap: 20px;
} 


.header-r2-c2 button {
    background-color: var(--sidebar-bgcolor);
    color: var(--sidebar-color);
    height: 33px;
    width: 90px;
    border-radius: 17px;
    cursor: pointer;
}

.header-r2-c2 button:active {
    padding-bottom: 10px;
    
}

.header-r2-c2 button:hover {
    font-weight: 900;
}




#header-search {
    width: 600px;
    height: 25px;
    background-color: var(--searchbar-color);
    border-radius: 15px;
}

#header-svg path{
    fill: black;
    
}

.header .header-first label svg {
   width: 27px;
   height: 27px;
   position: relative;
   top: 11px;
   /* padding-right: -111px; */
}

.header-first-c2 {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 18px;
    margin-left: 25px;

}

.header-r2-c1 {
    display: flex;
    flex-direction: row;
    align-items:center;
    /* justify-content: baseline; */
    gap: 20px;
    padding-left: 44px;
}

.header-spans {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#first {
    font-size: 11px;
    font-weight: 900;
}

#second {
    font-size: 18px;
    font-weight: 900;
}

#header-bell path {
    fill: black;
}

#header-bell {
    width: 35px;
    height: 35px;
}

.header-first-c2 img {
    width: 50px;
    height: 50px;
}

.header-first-c2 span {
    font-size: 22px;
    font-weight: 600;
}

/* .header-r2-c1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

} */





.header-r2-c1 img {
    width: 70px;
    height: 70px;

}




input {
    padding-left: 7px;
    letter-spacing: 1px;
}

input:focus {
    outline: none;
}

.header-first {
    padding-left: 20px;
    padding-top: 15px;
}



.sidebar {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    /* border: 1px solid red; */
    display: grid;
    align-items: flex-start;
    /* justify-content:space-evenly; */
    gap: 50px;
    /* grid-auto-flow: row; */
    grid-template-rows: 1fr 3fr 3fr;
    padding-bottom: 280px;
    background-color: var(--sidebar-bgcolor);
    color: var(--sidebar-color);
}

.sidebar button {
    background-color: var(--sidebar-bgcolor);
    color: var(--sidebar-color);
    cursor: pointer;
    border: none;
    padding-left: 15px;
    font-size: 26px;
    padding-top: 14px;
}


svg {
    width: 26px;
    height: 26px;
    padding-left: 24px;
    /* padding-top: 8px; */
}

svg path {
    fill: var(--sidebar-color) 
}


#heading-svg {
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.sidebar li :hover, #heading-svg:hover  {
    background-color: black;
}

/* .sidebar button, .sidebar svg {
    display: inline-flex;
    justify-content: baseline;
    align-items: center;
} */


.main-content {
    grid-column: 2 / span 1;
    grid-row: 2 / 5;
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 70% 250px;
    background-color: var(--searchbar-color);
    padding: 30px 10px;
    gap: 10px;
    /* grid-template-rows: repeat(2, 1fr); */
}

.mc-yp {
    grid-row: span 2;
    grid-column:  1/2;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* border: 1px solid black; */

}

.mc-cards {
    /* border: 1px solid red; */
    border-radius: 12px;
    background-color:  var(--sidebar-color);
    border-left: 10px solid var(--project-card-color);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 15px;
    padding-top: 20px;
    padding-left: 20px;
    
}

#card-icon {
    text-align: right;
    padding-right: 3px;
}

.mc-a {
    grid-row: 1 / 2;
    grid-column:  2 / 3;
    border-radius: 12px;
    background-color:  var(--sidebar-color);

}



.mc-t {
    grid-row: 2 / 3;
    grid-column:  2/2;
}